<div class="jumbotron">
<div class="container">
<h1>Who are we?</h1>

<p> to learn more</p>

<p><a class="btn btn-primary btn-lg" <%= link_to "Click Here!", "http://www.imdb.com/title/tt2192100/" %></a></p>
