<div class="jumbotron">
<div class="container">
<h1>Home</h1>
<p>Where you can find all about the project that averteam working on</p>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" <%= link_to "Learn More", "http://www.maxihaber.net/gizem-birimi-filminin-en-yeni-tanitim-goruntuleri" %></p>


</div>