<div class="jumbotron">
<div class="container">
<h1>Movies</h1>
<p>All the movies averteam decided to make, coming soon!</p>
<p> To see one of our work on youtube please </p>
  
<p><a class="btn btn-primary btn-lg" <%= link_to "Click Here!", "https://www.youtube.com/watch?v=7lYC6VFHuJY" %></a></p>

