<div class="jumbotron">
<div class="container">
<h1>Projects</h1>
<p>Here you are going to able to find all projects averteam works, worked, will work on!!</p>

<p> Would you like to see an example</p>  

<p><a class="btn btn-primary btn-lg" <%= link_to "Click Here!", "http://www.imdb.com/title/tt2192100/" %></a></p>