<h1>Projects</h1>
<p>Here you are going to able to find all projects averteam works, worked, will work on!!</p>

<p> Would you like to see an example Click <%= link_to "Here", "http://www.imdb.com/title/tt2192100/"%> </p>  
